.header {
  width: 100%;
  padding: 0 40px;
  display: flex;
  gap: 10px;
  justify-content: start;
  position: relative;
  z-index: 2;
}

.nickname {
  margin-right: auto;
  height: fit-content;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  background: #000c;
  padding: 10px 20px;
  font: var(--font-m);
  border-radius: 20px 20px 0 0;
}

.controls {
  position: absolute;
  top: 100%;
  transform: rotate(180deg);
}

@keyframes blink {

  0%,
  100% {
    background-color: rgba(0, 179, 255, 0.8);
  }

  50% {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.currentUserTurn {
  font-weight: bold;
  animation: blink 1s ease-in-out infinite;
}

.myCards {
  position: absolute;
  top: 80%;
  left: 50%;
  display: flex;
  gap: 20px;
  transform: translate(-50%, -50%);
}

.roundContainer {
  position: absolute;
  bottom: 0;
  right: 40px;
  padding: 20px 20px 10px 20px;
  background-color: #000c;
  border-radius: 20px 20px 0 0;
  font-size: 20px;
}

.myBank {
  position: absolute;
  top: calc(100% + 20px);
  right: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #1b232b;
  height: fit-content;
  padding: 10px;
  border-radius: 10px;

  span {
    font-weight: 300;
    color: #dbd79e;
    font-size: 30px;
  }

  img {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
}