.table {
  width: 1200px;
  height: 800px;
  background-color: #000c;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  position: relative;
}

.discardBlood {
  position: absolute;
  right: 75%;
}

.discardSand {
  position: absolute;
  left: 75%;
}